body {
	background-color: #ffffff;
	font-family: "Proxima Nova", Montserrat, "Helvetica Neue", Arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.7em;
	color: hsl(96 4% 11%);
}

h1 {
	font-weight: 300;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 1.1em;
	color: hsl(226 4% 24%);
}

h2 {
	font-family: Garamond, Baskerville, Times New Roman, serif;
	font-weight: 700;
	font-size: 28px;
	text-transform: uppercase;
	line-height: 1.35em;
	color: hsl(116 26% 26%);
}

h3 {
	font-style: italic;
	font-weight: 300;
	font-size: 17px;
	line-height: 2.5em;
	color: hsl(0 0% 7%);
}

a {
	color: hsl(3 59% 25%);
}

a:hover {
	color: hsl(224 42% 50%);
}
	
